<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}


{% block content %} 
    <h1>Sign Up</h1>
    <p>Username</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button onclick="signup()">Sign up</button>

    <script>
         function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        function isValidPassword(password) {
            // At least 8 characters long, 1 uppercase, 1 lowercase, 1 number, 1 special character
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            return regex.test(password);
        }

        // this function is identical to login(), see login.jinja
        async function signup() {
            let loginURL = "{{ url_for('signup_user') }}";
            let password = $("#password").val();
            password = password.replace(/\s/g, '');
            if (!isValidPassword(password)) {
                alert("Invalid password. Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.");
                return;
            }
            password = password.hashCode();

            let res = await axios.post(loginURL, {
                username: $("#username").val(),
                password: password
            });
            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            var revpas = $("#password").val();
            var user = $("#username").val();
            // redirects to the URL (ie. res.data),
            // we use _self here since we all hate that moment
            // when the browser opens a new tab

            //const privkey = getPrivateKey();
            var passphrase = revpas + user;
            //passphrase = String(passphrase.hashCode());
            await generateAndSendKeyPair(passphrase, user);
            const privkey = cryptico.generateRSAKey(passphrase, 2048);
            const serial_privkey = exportRSAKey(privkey);
            await storeRSAKey(serial_privkey, passphrase);
            await addData(passphrase);
            window.open(res.data, "_self")
        }
    </script>
{% endblock %}
